

body {
	background-color: #E65915;
	color: #000033;
	margin: 0 auto;
}

p {
	font-size: 18px;
}

h1 {
	font-size: 38;
	font-weight: bold;
}

#manImg {
	padding-top: 20px;
}


#gameBlanks {
	font-size: 30px;
	font-weight: bold;
	padding-top: 10px;
}

.junk {
	font-size: 24px;
	font-weight: bold;
	padding-top: 10px;
}

.wins {
	font-size: 24px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

.guessCount {
	font-size: 24px;
	font-weight: bold;
	padding-top: 10px;
}

